NEXT_PUBLIC_SUPABASE_URL=https://zaitflfjwxbywukpijww.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphaXRmbGZqd3hieXd1a3Bpand3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNjAwODIsImV4cCI6MjA4NzkzNjA4Mn0._sJsrgXKcV0ROTVX_4wcolcLLTKMThJjqqmplmSKBuw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphaXRmbGZqd3hieXd1a3Bpand3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjM2MDA4MiwiZXhwIjoyMDg3OTM2MDgyfQ.vCvwHuhbzFEMDjRhFLQ0mTlHFmttMnkbepAuIukp0hA
